In [37]:
import pandas as pd
import numpy as np
import sys

from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split

from geopy.distance import great_circle

from sklearn.metrics import (
    roc_auc_score,
    average_precision_score,
    precision_recall_curve,
    confusion_matrix,
    classification_report
)

import matplotlib.pyplot as plt

from catboost import CatBoostClassifier

In [3]:
%load_ext autoreload
%autoreload 2

In [23]:
target_col = 'target'
categorical_cols = ['gender', 'merch', 'cat_id', 'one_city', 'us_state', 'jobs']
n_cats = 50

# Import Train dataset
train = pd.read_csv('../train_data/train.csv').drop(columns=['name_1', 'name_2', 'street', 'post_code'])
print(f"Train shape: {train.shape}")

Train shape: (786431, 14)

In [24]:
def add_time_features(df):
    df['transaction_time'] = pd.to_datetime(df['transaction_time'])
    dt = df['transaction_time'].dt
    df['hour'] = dt.hour
    df['year'] = dt.year
    df['month'] = dt.month
    df['day_of_month'] = dt.day
    df['day_of_week'] = dt.dayofweek
    df.drop(columns='transaction_time', inplace=True)
    return df

# Add some simple time features
train = add_time_features(train)
train.head()

,merch,cat_id,amount,gender,one_city,us_state,lat,lon,population_city,jobs,merchant_lat,merchant_lon,target,hour,year,month,day_of_month,day_of_week
0,fraud_Cormier LLC,health_fitness,148.04,M,Kent,OR,45.0838,-120.6649,60,Museum education officer,45.042827,-120.709327,0,15,2019,12,27,4
1,"fraud_Brown, Homenick and Lesch",health_fitness,39.40,F,Plantersville,AL,32.6176,-86.9475,1412,Drilling engineer,31.872266,-87.828247,0,23,2019,4,17,2
2,fraud_Ruecker-Mayert,kids_pets,52.96,M,Mount Perry,OH,39.8788,-82.1880,1831,Barrister's clerk,40.010874,-81.841249,0,15,2019,9,23,0
3,"fraud_Mante, Luettgen and Hackett",health_fitness,7.66,F,Ratcliff,TX,31.3833,-95.0619,43,"Engineer, production",30.888406,-95.141609,0,16,2019,5,13,0
4,fraud_Luettgen PLC,gas_transport,51.59,F,Blairsden-Graeagle,CA,39.8127,-120.6405,1725,Chartered legal executive (England and Wales),39.376017,-121.311691,0,7,2019,8,18,6

In [25]:
for col in categorical_cols:
    new_col = col + '_cat'

    # Get table of categories
    temp_df = train\
        .groupby(col, dropna=False)[[target_col]]\
        .count()\
        .sort_values(target_col, ascending=False)\
        .reset_index()\
        .set_axis([col, 'count'], axis=1)\
        .reset_index()
    temp_df['index'] = temp_df.apply(lambda x: np.nan if pd.isna(x[col]) else x['index'], axis=1)
    temp_df[new_col] = ['cat_NAN' if pd.isna(x) else 'cat_' + str(x) if x < n_cats else f'cat_{n_cats}+' for x in temp_df['index']]

    train = train.merge(temp_df[[col, new_col]], how='left', on=col)

train.head()

,merch,cat_id,amount,gender,one_city,us_state,lat,lon,population_city,jobs,...,year,month,day_of_month,day_of_week,gender_cat,merch_cat,cat_id_cat,one_city_cat,us_state_cat,jobs_cat
0,fraud_Cormier LLC,health_fitness,148.04,M,Kent,OR,45.0838,-120.6649,60,Museum education officer,...,2019,12,27,4,cat_1,cat_1,cat_9,cat_50+,cat_30,cat_50+
1,"fraud_Brown, Homenick and Lesch",health_fitness,39.40,F,Plantersville,AL,32.6176,-86.9475,1412,Drilling engineer,...,2019,4,17,2,cat_0,cat_50+,cat_9,cat_50+,cat_8,cat_50+
2,fraud_Ruecker-Mayert,kids_pets,52.96,M,Mount Perry,OH,39.8788,-82.1880,1831,Barrister's clerk,...,2019,9,23,0,cat_1,cat_50+,cat_4,cat_50+,cat_4,cat_50+
3,"fraud_Mante, Luettgen and Hackett",health_fitness,7.66,F,Ratcliff,TX,31.3833,-95.0619,43,"Engineer, production",...,2019,5,13,0,cat_0,cat_50+,cat_9,cat_50+,cat_0,cat_50+
4,fraud_Luettgen PLC,gas_transport,51.59,F,Blairsden-Graeagle,CA,39.8127,-120.6405,1725,Chartered legal executive (England and Wales),...,2019,8,18,6,cat_0,cat_38,cat_0,cat_50+,cat_3,cat_50+

In [26]:
def add_distance_features(df):
    df['distance'] = df.apply(
        lambda x: great_circle(
            (x['lat'], x['lon']), 
            (x['merchant_lat'], x['merchant_lon'])
        ).km,
        axis=1
    )
    return df.drop(columns=['lat', 'lon', 'merchant_lat', 'merchant_lon'])


# Calculate distance between a client and a merchant
train = add_distance_features(train)
train.head()

,merch,cat_id,amount,gender,one_city,us_state,population_city,jobs,target,hour,...,month,day_of_month,day_of_week,gender_cat,merch_cat,cat_id_cat,one_city_cat,us_state_cat,jobs_cat,distance
0,fraud_Cormier LLC,health_fitness,148.04,M,Kent,OR,60,Museum education officer,0,15,...,12,27,4,cat_1,cat_1,cat_9,cat_50+,cat_30,cat_50+,5.738663
1,"fraud_Brown, Homenick and Lesch",health_fitness,39.40,F,Plantersville,AL,1412,Drilling engineer,0,23,...,4,17,2,cat_0,cat_50+,cat_9,cat_50+,cat_8,cat_50+,117.172347
2,fraud_Ruecker-Mayert,kids_pets,52.96,M,Mount Perry,OH,1831,Barrister's clerk,0,15,...,9,23,0,cat_1,cat_50+,cat_4,cat_50+,cat_4,cat_50+,33.007314
3,"fraud_Mante, Luettgen and Hackett",health_fitness,7.66,F,Ratcliff,TX,43,"Engineer, production",0,16,...,5,13,0,cat_0,cat_50+,cat_9,cat_50+,cat_0,cat_50+,55.550248
4,fraud_Luettgen PLC,gas_transport,51.59,F,Blairsden-Graeagle,CA,1725,Chartered legal executive (England and Wales),0,7,...,8,18,6,cat_0,cat_38,cat_0,cat_50+,cat_3,cat_50+,75.267367

In [27]:
train.columns

Index(['merch', 'cat_id', 'amount', 'gender', 'one_city', 'us_state',
       'population_city', 'jobs', 'target', 'hour', 'year', 'month',
       'day_of_month', 'day_of_week', 'gender_cat', 'merch_cat', 'cat_id_cat',
       'one_city_cat', 'us_state_cat', 'jobs_cat', 'distance'],
      dtype='object')

In [29]:
cat_cols = [col + '_cat' for col in categorical_cols] + ['hour', 'year', 'month',
       'day_of_month', 'day_of_week']
num_cols = ['amount', 'population_city', 'distance']

In [30]:
cat_cols

['gender_cat',
 'merch_cat',
 'cat_id_cat',
 'one_city_cat',
 'us_state_cat',
 'jobs_cat',
 'hour',
 'year',
 'month',
 'day_of_month',
 'day_of_week']

In [31]:
num_cols

['amount', 'population_city', 'distance']

In [32]:
X_train, X_test, y_train, y_test = train_test_split(
    train[cat_cols + num_cols], train[target_col], train_size=0.8, random_state=777
)

In [33]:
model = CatBoostClassifier(iterations=100)

In [34]:
model.fit(X_train, y_train, cat_features=cat_cols)

Learning rate set to 0.5
0:	learn: 0.3210446	total: 194ms	remaining: 19.2s
1:	learn: 0.1814655	total: 300ms	remaining: 14.7s
2:	learn: 0.1108278	total: 403ms	remaining: 13s
3:	learn: 0.0718656	total: 542ms	remaining: 13s
4:	learn: 0.0499437	total: 685ms	remaining: 13s
5:	learn: 0.0375698	total: 786ms	remaining: 12.3s
6:	learn: 0.0280514	total: 889ms	remaining: 11.8s
7:	learn: 0.0233914	total: 998ms	remaining: 11.5s
8:	learn: 0.0205856	total: 1.11s	remaining: 11.2s
9:	learn: 0.0186199	total: 1.22s	remaining: 10.9s
10:	learn: 0.0153995	total: 1.34s	remaining: 10.9s
11:	learn: 0.0148536	total: 1.5s	remaining: 11s
12:	learn: 0.0141588	total: 1.63s	remaining: 10.9s
13:	learn: 0.0140661	total: 1.75s	remaining: 10.8s
14:	learn: 0.0137555	total: 1.94s	remaining: 11s
15:	learn: 0.0135592	total: 2.06s	remaining: 10.8s
16:	learn: 0.0135555	total: 2.18s	remaining: 10.6s
17:	learn: 0.0131929	total: 2.3s	remaining: 10.5s
18:	learn: 0.0131886	total: 2.38s	remaining: 10.2s
19:	learn: 0.0130084	total: 2.51s	remaining: 10s
20:	learn: 0.0129805	total: 2.62s	remaining: 9.87s
21:	learn: 0.0129337	total: 2.77s	remaining: 9.82s
22:	learn: 0.0129308	total: 2.88s	remaining: 9.65s
23:	learn: 0.0128713	total: 3s	remaining: 9.49s
24:	learn: 0.0128682	total: 3.08s	remaining: 9.24s
25:	learn: 0.0128394	total: 3.2s	remaining: 9.11s
26:	learn: 0.0128384	total: 3.27s	remaining: 8.84s
27:	learn: 0.0128255	total: 3.39s	remaining: 8.71s
28:	learn: 0.0128241	total: 3.51s	remaining: 8.59s
29:	learn: 0.0128202	total: 3.6s	remaining: 8.39s
30:	learn: 0.0127451	total: 3.71s	remaining: 8.26s
31:	learn: 0.0127445	total: 3.81s	remaining: 8.11s
32:	learn: 0.0127440	total: 3.88s	remaining: 7.88s
33:	learn: 0.0127435	total: 3.98s	remaining: 7.73s
34:	learn: 0.0124266	total: 4.1s	remaining: 7.61s
35:	learn: 0.0122642	total: 4.22s	remaining: 7.5s
36:	learn: 0.0121803	total: 4.34s	remaining: 7.39s
37:	learn: 0.0121771	total: 4.41s	remaining: 7.19s
38:	learn: 0.0120357	total: 4.53s	remaining: 7.08s
39:	learn: 0.0120349	total: 4.61s	remaining: 6.92s
40:	learn: 0.0118258	total: 4.74s	remaining: 6.82s
41:	learn: 0.0118232	total: 4.86s	remaining: 6.71s
42:	learn: 0.0118231	total: 4.94s	remaining: 6.55s
43:	learn: 0.0118230	total: 5.03s	remaining: 6.4s
44:	learn: 0.0118228	total: 5.14s	remaining: 6.28s
45:	learn: 0.0118224	total: 5.25s	remaining: 6.17s
46:	learn: 0.0118222	total: 5.37s	remaining: 6.06s
47:	learn: 0.0117653	total: 5.49s	remaining: 5.95s
48:	learn: 0.0117652	total: 5.59s	remaining: 5.82s
49:	learn: 0.0117650	total: 5.7s	remaining: 5.7s
50:	learn: 0.0117649	total: 5.79s	remaining: 5.56s
51:	learn: 0.0115580	total: 5.98s	remaining: 5.52s
52:	learn: 0.0115146	total: 6.11s	remaining: 5.42s
53:	learn: 0.0114802	total: 6.24s	remaining: 5.32s
54:	learn: 0.0114577	total: 6.36s	remaining: 5.2s
55:	learn: 0.0114574	total: 6.46s	remaining: 5.08s
56:	learn: 0.0113952	total: 6.58s	remaining: 4.96s
57:	learn: 0.0113951	total: 6.7s	remaining: 4.85s
58:	learn: 0.0113951	total: 6.83s	remaining: 4.74s
59:	learn: 0.0113843	total: 6.95s	remaining: 4.63s
60:	learn: 0.0113840	total: 7.06s	remaining: 4.51s
61:	learn: 0.0113840	total: 7.17s	remaining: 4.39s
62:	learn: 0.0113839	total: 7.27s	remaining: 4.27s
63:	learn: 0.0113509	total: 7.39s	remaining: 4.15s
64:	learn: 0.0112798	total: 7.5s	remaining: 4.04s
65:	learn: 0.0112796	total: 7.62s	remaining: 3.92s
66:	learn: 0.0112794	total: 7.74s	remaining: 3.81s
67:	learn: 0.0112794	total: 7.86s	remaining: 3.7s
68:	learn: 0.0112336	total: 7.98s	remaining: 3.58s
69:	learn: 0.0112334	total: 8.09s	remaining: 3.47s
70:	learn: 0.0112155	total: 8.21s	remaining: 3.35s
71:	learn: 0.0112155	total: 8.33s	remaining: 3.24s
72:	learn: 0.0112151	total: 8.44s	remaining: 3.12s
73:	learn: 0.0112151	total: 8.56s	remaining: 3.01s
74:	learn: 0.0111946	total: 8.69s	remaining: 2.9s
75:	learn: 0.0111884	total: 8.81s	remaining: 2.78s
76:	learn: 0.0111535	total: 8.95s	remaining: 2.67s
77:	learn: 0.0111535	total: 9.08s	remaining: 2.56s
78:	learn: 0.0111163	total: 9.2s	remaining: 2.45s
79:	learn: 0.0111163	total: 9.33s	remaining: 2.33s
80:	learn: 0.0110447	total: 9.45s	remaining: 2.22s
81:	learn: 0.0110447	total: 9.58s	remaining: 2.1s
82:	learn: 0.0110447	total: 9.71s	remaining: 1.99s
83:	learn: 0.0110442	total: 9.83s	remaining: 1.87s
84:	learn: 0.0110441	total: 9.96s	remaining: 1.76s
85:	learn: 0.0110193	total: 10.1s	remaining: 1.64s
86:	learn: 0.0110193	total: 10.2s	remaining: 1.52s
87:	learn: 0.0110193	total: 10.3s	remaining: 1.41s
88:	learn: 0.0110160	total: 10.4s	remaining: 1.29s
89:	learn: 0.0110125	total: 10.5s	remaining: 1.17s
90:	learn: 0.0109965	total: 10.7s	remaining: 1.05s
91:	learn: 0.0109784	total: 10.8s	remaining: 938ms
92:	learn: 0.0109784	total: 10.9s	remaining: 823ms
93:	learn: 0.0109643	total: 11s	remaining: 705ms
94:	learn: 0.0108578	total: 11.2s	remaining: 587ms
95:	learn: 0.0108462	total: 11.3s	remaining: 470ms
96:	learn: 0.0108371	total: 11.4s	remaining: 353ms
97:	learn: 0.0108370	total: 11.5s	remaining: 235ms
98:	learn: 0.0108220	total: 11.6s	remaining: 118ms
99:	learn: 0.0108045	total: 11.8s	remaining: 0us

In [38]:
y_proba = model.predict_proba(X_test)[:, 1]

y_pred_default = (y_proba >= 0.5).astype(int)

# 3. Compute robust metrics
auc_roc = roc_auc_score(y_test, y_proba)
auc_pr = average_precision_score(y_test, y_proba)  # Better for imbalanced data

print(f"ROC-AUC: {auc_roc:.4f}")
print(f"PR-AUC (Average Precision): {auc_pr:.4f}")

# 4. Optional: Find optimal threshold using Precision-Recall curve
precision, recall, thresholds = precision_recall_curve(y_test, y_proba)

# F1-score for each threshold
f1_scores = 2 * (precision * recall) / (precision + recall + 1e-10)
optimal_idx = np.argmax(f1_scores)
optimal_threshold = thresholds[optimal_idx] if optimal_idx < len(thresholds) else 0.5

print(f"Optimal threshold (max F1): {optimal_threshold:.4f}")
print(f"Max F1-score: {f1_scores[optimal_idx]:.4f}")

# 5. Make predictions with optimal threshold
y_pred_opt = (y_proba >= optimal_threshold).astype(int)

# 6. Detailed evaluation
print("\n--- Classification Report (Optimal Threshold) ---")
print(classification_report(y_test, y_pred_opt, target_names=['Class 0', 'Class 1']))

print("\n--- Confusion Matrix ---")
cm = confusion_matrix

ROC-AUC: 0.9757
PR-AUC (Average Precision): 0.7196
Optimal threshold (max F1): 0.3318
Max F1-score: 0.6840

--- Classification Report (Optimal Threshold) ---
              precision    recall  f1-score   support

     Class 0       1.00      1.00      1.00    156374
     Class 1       0.69      0.68      0.68       913

    accuracy                           1.00    157287
   macro avg       0.84      0.84      0.84    157287
weighted avg       1.00      1.00      1.00    157287


--- Confusion Matrix ---

In [39]:
model.save_model("../models/my_model.cbm")